####### DB server ######
DATABASE_NAME=test
DATABASE_USER=postgres
DATABASE_HOST=localhost
DATABASE_PASSWORD=6274

#### Settings ######
ALLOWED_HOSTS=localhost,127.0.0.1
DEBUG=True
SECRET_KEY=django-insecure-!%4p^)@#6g=8&3$^8!2#1v@^#&1*2#3$4
CORS_ORIGIN_WHITELIST=http://localhost:3000
ACCESS_TOKEN_LIFETIME_IN_HOURS=1
REFRESH_TOKEN_LIFETIME_IN_HOURS=1

#### NO SQL db server ####
NOSQL_DB_NAME=test
NOSQL_DB_USER=
NOSQL_DB_PASSWORD=
NOSQL_DB_CLUSTER_URL=