####### DB server ######
DATABASE_NAME=test
DATABASE_USER=postgres
DATABASE_HOST=localhost
DATABASE_PASSWORD=6274

#### Settings ######
ALLOWED_HOSTS=localhost,127.0.0.1
DEBUG=True

#### NO SQL db settings ####
NOSQL_DB_NAME=test
NOSQL_DB_USER=
NOSQL_DB_PASSWORD=
NOSQL_DB_CLUSTER_URL=