# for django initial setup
Django
djangorestframework
python-dotenv
django-cors-headers

# for postgres
psycopg2-binary

# for mysql
mysqlclient

# for nosql
pymongo
certifi
pydantic

# for jwt
djangorestframework-simplejwt

# for phone number
"django-phonenumber-field[phonenumbers]"

# for image
Pillow

# for celery
celery
redis
django-celery-beat
django-celery-results

# for channels
'channels[daphne]'

# for backup
django-dbbackup

# for aws s3
boto3
django-storages

# for logger and monitoring
sentry-sdk

# for user activity log
django-user-activity-log

# for run custom command
django-extensions

# for filter
django-filter

# for reversion model
django-reversion